* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 42px;
  margin: 30px 20px;
  align-items: center;
}

.header__logo {
  font-weight: bold;
  font-size: 30px;
}

.header__buttons {
  display: flex;
}

.button {
  border-radius: 50%;
  margin: 4px;
  height: 36px;
  width: 36px;
}

.button img {
  height: 20px;
  width: 20px;
}

.players {
  min-width: 500px;
  min-height: 500px;
  grid-template-rows: 1fr 1fr;
  margin: 30px 20px;
}

.players__list {}

.players__column-name {
  font-weight: bold;
}

.players__add-button {
  float: right;
  margin-right: 38px;
}

.player {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.player__avatar {
  width: 42px;
  height: 42px;
  color: aliceblue;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center; /* выравнивание по горизонтали */
  align-items: center; /* выравнивание по вертикали */
}

.players__add-button {
  background-color: blue;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: aliceblue;
  border: none;
  font-size: 29px;
}

.new-munchkin {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
}

.new-munchkin__legend{
  margin-left: 30px;
  font-size: 25px;
}

.new-munchkin__inputs {
  display: grid;
  gap: 8px;
  padding: 8px;
}

.new-munchkin__input span{
  display: grid;
  gap: 8px;
  margin-bottom: 10px;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.player-card__name {
  padding: 8px;
  font-size: 36px;
}

.player-card__strength{
  font-size: 52px;
  padding: 12px;
}

.player-card__params{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-size: 28px;
  padding-bottom: 28px;
}

.player-card__param_value {
  display: flex;
  justify-content: center;
}