ul {
  list-style: none;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.container {
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 42px;
}

.header__buttons {
  display: flex;
}

.header__button button {
  border-radius: 30px;
  margin: 4px;
}

.header__button img {
  height: 20px;
  width: 20px;
}

.players {
  min-width: 500px;
  min-height: 500px;
  grid-template-rows: 1fr 1fr;

}

.players__list {}

.players__add-button {
  float: right;
  margin-right: 38px;
}

.player {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.player__avatar {
  width: 42px;
  height: 42px;
  color: aliceblue;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.players__add-button {
  background-color: blue;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: aliceblue;
  border: none;
  font-size: 29px;
}